.void-error-card-root {
    contain: content;
    padding: 1rem;
    border-radius: 0.5rem;
    background: hsl(from var(--fg-danger) h s l / 12%);
    border: 1px solid hsl(from var(--fg-danger) h s l / 40%);
    color: var(--fg-danger);
}

.void-error-card-header {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.void-error-card-root code {
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: hsl(var(--black) / 20%);
    font-size: 0.85em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
